.studentsTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    margin: 0.5rem 0rem;
}

.displayFlexAlignCenter {
    display: flex;
    align-items: center;
}

.marginLeft {
    margin: 0 0 0 0.8rem;
}